.aside-report-item {
  position: relative;
  display: flex;
  align-items: center;
  gap: 44px;
  height: 52px;
  isolation: isolate;
  display: grid;
  grid-template-columns: 10px 1fr 1fr;
}
.aside-report-item::after {
  content: "";
  position: absolute;
  inset: 0;
  left: -25px;
  background-color: var(--white);
  z-index: -1;
  box-shadow: 0px 8px 5px 0px rgba(0, 0, 0, 0.03);
  transition: 0.3s;
  border-radius: 5px;
  opacity: 0;
  cursor: pointer;
}
.aside-report-item:hover::after {
  opacity: 1;
}
.aside-report-item__num {
  color: var(--font-dark-clr);
  font-size: 13px;
  font-family: Inter;
  font-weight: 600;
}
.aside-report-item__heading {
  color: var(--font-dark-clr);
  text-align: center;
  font-size: 12.8px;
  text-align: start;
  text-transform: uppercase;
  font-weight: 900;
  pointer-events: none;
}
.aside-report-item__stat {
  color: #5bb09c;
  font-size: 13px;
  font-weight: 600;
  align-self: center;
  justify-self: start;
  pointer-events: none;
}
.aside-table__label-row {
  margin-bottom: 11px;
}
