.top-bar {
  margin-top: 64px;
  justify-content: space-between;
  align-items: center;
}
.top-bar__col {
  align-items: baseline;
  gap: 23px;
}
.top-bar__right--col {
  gap: 12px;
  align-items: stretch;
}
.left-col__wrapper {
  align-items: baseline;
  gap: 9px;
}
.left-col__wrapper span {
  color: var(--font-lightgray-clr);
  font-size: 12.8px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.32px;
}
.left-col__wrapper--second > p {
  color: var(--black);
  font-size: 12px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
